:root {
  --bg-btn: #FF9900;
  --text-color: #FFFFFF;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Thin"),
    url("../fonts/Montserrat-Thin.woff") format("woff2"),
    url("../fonts/Montserrat-Thin.woff2") format("woff");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraLight"),
    url("../fonts/Montserrat-ExtraLight.woff") format("woff2"),
    url("../fonts/Montserrat-ExtraLight.woff2") format("woff");
  font-weight: 275;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.woff") format("woff2"),
    url("../fonts/Montserrat-Light.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff") format("woff2"),
    url("../fonts/Montserrat-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff") format("woff2"),
    url("../fonts/Montserrat-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff") format("woff2"),
    url("../fonts/Montserrat-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Black"),
    url("../fonts/Montserrat-Black.woff") format("woff2"),
    url("../fonts/Montserrat-Black.woff2") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 0;
}

.container {
  max-width: 100%;
  min-width: 768px;
  margin: 0 0 0 75px;
  padding: 0;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.header-page {
  max-width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  box-sizing: border-box;
  text-decoration: none;
  background-image: url(../images/Logo.png);
  background-repeat: no-repeat;
  width: 224px;
  max-height: 72px;
  padding: 0;
  margin: 14px 0 14px 0;
}



.navigation {
  background-color: #FFFFFF;
  margin: 39px 0;
  margin-left: auto;
}

.header-list {
  list-style-type: none;
}

.header-link {
  margin-right: 82.5px;
  padding: 1px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.header-link:focus {
  margin-right: 83.5px;
  padding: 2px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  border: 2px solid #FF9900;
}

.header-link:hover {
  margin-right: 83.5px;
  padding: 1px;
  border-bottom: 2px solid #FF9900;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.header-link:active {
  margin-right: 83px;
  margin-left: 1px;
  padding: 1px 2.5px 0px 1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #FF9900;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #E1670E;
}

.search {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.search:focus-within>input {
  width: 431px;
  height: 50px;
  margin: 0px 0px 10px 32px;
  padding: 0px 0px 0px 5px;
  border-bottom: 1px solid #DCDCDC;
  outline: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ADADAD;
  transition: width 0.5s ease-in-out;
}


.search:focus-within {
  width: 539px;
  height: 60px;
  margin: 20px 20px 0 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: width 0.5s ease-in-out;
}

.search:focus-within>.search-icon {
  margin-top: 18px;
}

.search-icon:focus+.search-closed {
  margin: 18px 13px 18px 20px;
  background: url(../images/search-closed.png);
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}


.text {
  width: 0px;
  height: 0px;
  margin: 35px 0 0 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  transition: width 0.5s ease-in-out;
}

.search-icon {
  background: url(../images/search-btn.svg) center center no-repeat;
  background-color: none;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  margin: 36px 74px 0 0;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.search-closed {
  width: 0px;
  height: 0px;
  border: none;
  outline: none;
}

.search-icon:focus {
  margin: 36px 0 0 0;
}

.search-icon:hover {
  background-image: url(../images/search-hover.png);
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  margin: 36px 74px 0 0;
  cursor: pointer;
}

.search-icon:focus:hover {
  background-image: url(../images/search-hover.png);
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  margin: 36px 0 0 0;
  cursor: pointer;
}

.search-closed {
  width: 0px;
  height: 0px;
  margin: 35px 0 0 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-head {
  position: relative;
  z-index: 2;
  min-width: 940px;
  min-height: 100%;
  margin: 268px 163px 0 0;
  padding: 0;
}

.main-head-image {
  width: 1770px;
  height: 620px;
  min-height: 620px;
}

.head-content {
  position: absolute;
  left: 68px;
  top: 100px;
  margin: 0;
  padding: 0;
  max-width: 873px;
  font-family: inherit;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.main-head-description {
  position: absolute;
  left: 68px;
  top: 294px;
  margin: 0;
  padding: 0;
  max-width: 790px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  color: #FFFFFF;
}



.btn {
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  max-width: fit-content;
  max-height: fit-content;
  color: var(--text-color);
  transition: background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
}

.btn:focus,
.btn:hover {
  outline: none;
  background-color: var(--main-color);
  color: #ffffff;
  transition: background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
}

.btn:active {
  outline: none;
  background-color: #A47312;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out;
}

.btn-main-head {
  position: absolute;
  left: 68px;
  top: 442px;
  margin: 0;
  box-sizing: border-box;
  padding: 24.83px 36.88px;
  font-weight: 700;
  font-size: 23.46px;
  line-height: 28.6px;
  background-color: var(--bg-btn);
  border: none;
}

.btn-block {
  margin-top: 68px;
  padding: 17px 34px;
  margin-left: 90px;
  font-weight: 700;
  height: fit-content;
  font-size: 16px;
  line-height: 19.5px;
  background-color: transparent;
  border: 3px solid var(--bg-btn);
}

.tips {
  z-index: 1;
  margin-top: -103px;
}

.content-block {
  margin-top: 50px;
}

.block-text {
  width: 454px;
  margin: 50px;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.content {
  z-index: 1;
  max-width: 1235px;
  margin-left: 0.5px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 31.6px;
  color: #333333;
}

.tip-for-work1 {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  margin-left: 2px;
  background-image: url(../images/worker.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  width: 868px;
  height: 622px;
}

.content-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tip-column2 {
  box-sizing: border-box;
  width: 870px;
  margin-left: 30px;
  box-sizing: border-box;
}

.tip-for-work2 {
  box-sizing: border-box;
  max-height: 295px;
  width: 100%;
  background: transparent;
  border: 1px solid #CACACA;
}

.tip-for-work2:nth-child(2) {
  margin-top: 32px;
}

.tip {
  background-repeat: no-repeat;
  background-position-x: 60px;
  background-position-y: 65px;
}

.bg-tip1 {
  background-image: url(../images/box.png);
}

.bg-tip2 {
  background-image: url(../images/gear.png);
}

.tip-head {
  padding-top: 65px;
  padding-right: 110px;
  margin: 0 0 0 300px;
  width: fit-content;
  text-overflow: wrap;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.tip-text {
  padding-bottom: 65px;
  padding-right: 110px;
  margin: 8px 0 0 300px;
  width: fit-content;
  overflow: hidden;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.how-we-work {
  margin-top: 98px;
  margin-left: 2px;
}

.head-how-we-work {
  font-family: inherit;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: #333333;
}

.how-we-work-content {
  margin-top: 50px;
}

.tabs {
  margin: 0;
}

.tabs::after {
  content: '';
  display: table;
}

.tabs input[type=radio] {
  display: none;
}

.tabs [id^="tab"]:checked+label {
  color: blue;
}

#tab-1:checked~#content-1,
#tab-2:checked~#content-2,
#tab-3:checked~#content-3,
#tab-4:checked~#content-4 {
  display: block;
}

.tab-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #E1670E;
  padding-right: 81px;
  cursor: pointer;
  text-decoration: none;
}

.tab-text {
  width: 100%;
}

.tab-content {
  display: none;
  margin: 45px 0 0 0;
  padding-top: 0;
}

.head-tab-content {
  max-width: 758px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  padding: 0;
  margin: 0;
}

.tab-content-description {
  max-width: 758px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin: 8px 0 0 0;
}

.btns {
  margin: 48px 0 0 0;
}

.btn-more {
  box-sizing: border-box;
  float: left;
  padding: 19.5px 37px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.7px;
  color: #FFFFFF;
  background-color: var(--bg-btn);
  border: 1px solid var(--bg-btn);
}

.btn-treaty {
  box-sizing: border-box;
  margin-left: 32px;
  padding: 19.5px 37px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.7px;
  color: #333333;
  background-color: transparent;
  border: 1px solid #333333;
}

.tab-image {
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position-x: 900px;
  background-position-y: 8px;
}

.tab-bg1 {
  background-image: url(../images/bg-content-1.jpg);
}

.tab-bg2 {
  background-image: url(../images/bg-content-2.jpg);
}

.tab-bg3 {
  background-image: url(../images/bg-content-3.jpg);
}

.tab-bg4 {
  background-image: url(../images/bg-content-4.jpg);
}

.questions {
  margin: 107px 0 0 0;
  width: 100%;
}

.questions-head-block {
  padding: 0 0 41px 1px;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.2px;
  color: #333333;
}

.accordeon {
  width: 100%;
}



.question-head {
  display: block;
  width: 100%;
  padding: 39px 0;
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  border-top: 1px solid #CACACA;
}

.answer {
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.answer:last-child {
  border-bottom: 1px solid #CACACA;
}

.accordeon .answer {
  height: 0;
  overflow: hidden;
}

.accordeon label {
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.accordeon label::before {
  content: url(../images/cross.png);
  position: absolute;
  top: 30px;
  right: 0;
}

.accordeon input {
  display: none;
}

.accordeon input:checked+label::before {
  transition: transform 0.5s;
  transform: rotate(-45deg);
}

.accordeon input:checked+label+.answer {
  height: auto;
}

.footer {
  margin-top: 100px;
  background-color: #222222;
}

.footer-links {
  margin: 50px 0 0 0;
  max-width: 252px;
}

.footer-links-list {
  margin-left: 0;
  padding-left: 0;
}

.footer-link-logo {
  display: block;
  background-image: url(../images/footer-Logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 224px;
  height: 72px;
  margin: 0 0 20px 0;
}

.footer-link {
  display: block;
  height: 36px;
  background-repeat: no-repeat;
}

.footer-link-text1 {
  background-image: url(../images/about-us.png);
  width: 54px;
}

.footer-link-text2 {
  background-image: url(../images/projects.png);
  width: 85px;
}

.footer-link-text3 {
  background-image: url(../images/reviews.png);
  width: 76px;
}

.footer-link-text4 {
  background-image: url(../images/offer-agreement.png);
  width: 162px;
}

.footer-link-text5 {
  background-image: url(../images/contract.png);
  width: 170px;
}

.footer-link-text6 {
  background-image: url(../images/privacy-policy.png);
  width: 214px;
}

.footer-link-text7 {
  background-image: url(../images/partnership-agreement.png);
  width: 251px;
}

.social {
  margin: 90px 0 50px 0;
}

.social-image {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.social-image:not(:first-child) {
  margin: 0 0 0 25px;
}

.facebook {
  background-image: url(../images/facebook.svg);
}

.vk {
  background-image: url(../images/vk.svg);
}

.instagram {
  background-image: url(../images/instagram.svg);
}

.submit-data {
  margin: 50px 0 50px 350px;
  width: 570px;
}

.head-form {
  font-family: inherit;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: #CACACA;
  padding: 0;
  margin: 0;
}

.input-text {
  width: inherit;
  max-width: 570px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background-color: #414141;
  color: #CACACA;
  padding: 14px 0 14px 24px;
  margin: 25px 0 0 0;
  border: none;
}

.message-text {
  height: 120px;
  max-width: 570px;
}

.form-buttom {
  margin: 32px 0 0 0;
  max-width: 570px;
  justify-content: space-between;
}

.btn-form {
  box-sizing: border-box;
  margin: 0;
  padding: 19px 51.7px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: #FFFFFF;
  background-color: #FF9900;
  align-content: center;
}

.confirm-content {
  margin: 13px 0 0 0;
  height: fit-content;
}

.check-confirm {
  box-sizing: border-box;
  margin: 12px 0 0 0;
  width: 14px;
  height: 14px;
  border: 1px solid #FFFFFF;
}

.confirm-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  margin: 3px 0 0 4px;
}

.footer-text {
  max-width: 363px;
  margin: 120px 0px 137px auto;
}

.footer-text-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}


.social-link5 {
  background-image: url(../img/instagram.svg);
}

.social-link5:focus,
.social-link5:hover {
  background-image: url(../img/instagram-focus.svg);
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.social-link5:active {
  background-image: url(../img/instagram-active.svg);
  transition: background-image 0.2s ease-in-out;
}