:root {
  --main-color: #CC9933;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Thin"),
    url("../fonts/Montserrat-Thin.woff") format("woff2"),
    url("../fonts/Montserrat-Thin.woff2") format("woff");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraLight"),
    url("../fonts/Montserrat-ExtraLight.woff") format("woff2"),
    url("../fonts/Montserrat-ExtraLight.woff2") format("woff");
  font-weight: 275;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.woff") format("woff2"),
    url("../fonts/Montserrat-Light.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff") format("woff2"),
    url("../fonts/Montserrat-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff") format("woff2"),
    url("../fonts/Montserrat-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff") format("woff2"),
    url("../fonts/Montserrat-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Black"),
    url("../fonts/Montserrat-Black.woff") format("woff2"),
    url("../fonts/Montserrat-Black.woff2") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 0;
}

.container {
  max-width: 1770px;
  min-width: 768px;
  margin: 0 auto;
  background-color: #FFFFFF;
}



img {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.header-page {
  max-width: 1770px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  box-sizing: border-box;
  text-decoration: none;
  background-image: url(../images/Logo.png);
  background-repeat: no-repeat;
  width: 224px;
  max-height: 72px;
  padding: 0;
  margin: 14px 0 14px 75px;
}



.navigation {
  background-color: #FFFFFF;
  margin: 39px 0;
  margin-left: auto;
}

.header-list {
  list-style-type: none;
}

.header-link {
  margin-right: 85px;
  padding: 0;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.search {
  text-decoration: none;
  background-image: url(../images/search.png);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin: 38px 75px 38px 0;
  border: none;
  cursor: pointer;
}

.main-head {
  background-image: url(../images/balconies.jpg);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  max-width: 1770px;
  min-width: 768px;
  height: 620px;
  margin: 268px 163px 0 0;
}

.btn {
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  color: var(--main-color);
  background-color: #FFFFFF;
  padding: 13px 20px;
  transition: background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
}

.btn-want {
  margin: 14px 0 14px 57px;
}

.btn:focus,
.btn:hover {
  outline: none;
  background-color: var(--main-color);
  color: #ffffff;
  transition: background-color 0.8s ease-in-out,
    color 0.8s ease-in-out;
}

.btn:active {
  outline: none;
  background-color: #A47312;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out;
}

.btn-backcall {
  margin: 14px 45px 14px 40px;
}

.section-title {
  margin: 0 0 0 40px;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
  transition: color 1s ease-in-out;
}

.card-special {
  box-sizing: border-box;
  margin: 20px 0 0 0;
  padding: 0;
}

.special-group {
  margin-top: 23px;
}

.card-special-text {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.card-special-1 {
  width: 573px;
  height: 258px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/maldives.jpg) no-repeat;
  background-blend-mode: darken;
  border-radius: 15px;
}

.card-special-2 {
  width: 573px;
  height: 258px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/crete.jpg) no-repeat;
  background-blend-mode: color-burn;
  border-radius: 15px;
}

.card-special-3 {
  margin-left: 23px;
  width: 573px;
  height: 540px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/luxury.jpg) no-repeat;
  background-blend-mode: darken;
  border-radius: 15px;
}

.card-special-name-small {
  padding: 0;
  margin: 0;
  max-width: 350px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.card-special-price-small {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.card-special-name-big {
  margin: 0;
  padding-top: 171px;
  max-width: 350px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.card-special-price-big {
  display: inline-block;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}

.card-special-details {
  display: block;
  margin-top: 47px;
  margin-bottom: 0;
  padding: 0;
  background-image: url(../img/more.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 110px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: background-image 0.6s ease-in-out;
}

.card-special-details:focus,
.card-special-details:hover {
  margin-top: 47px;
  margin-bottom: 0;
  outline: none;
  background-image: url(../img/more.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 110px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.card-special-details:active {
  margin-top: 47px;
  margin-bottom: 0;
  outline: none;
  background-image: url(../img/more.svg);
  background-repeat: no-repeat;
  height: 16px;
  width: 110px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: background-image 0.2s ease-in-out;
}

.description {
  max-width: 888px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.card-services {
  margin-top: 20px;
}

.service-item {
  max-width: 573px;
  max-height: 330px;
}

.service-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 23px;
}

.service-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.image-service1 {
  background: url(../img/glasses.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.image-service2 {
  background: url(../img/table.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.image-service3 {
  background: url(../img/swimming-pool.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.image-service4 {
  background: url(../img/cars.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-services-content {
  background-color: #FFFFFF;
  border-radius: 15px;
}

.card-img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.wiev-otel {
  margin: 0;
  width: fit-content;
  font-family: inherit;
  font-size: 16px;
}

.rating {
  margin: 0;
  width: fit-content;
  font-family: inherit;
  font-size: 16px;
}

.card-acc-img {
  position: relative;
  border-radius: 15px;
}

.card-services-name {
  display: block;
  margin: 191px 0 0 45px;
  padding: 0;
  height: 40px;
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.image-service-link1,
.image-service-link1:focus {
  background: url(../img/image-link1.svg) no-repeat;
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.image-service-link1:hover {
  background: url(../img/image-link1hover.svg) no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.image-service-link1:active {
  background: url(../img/image-link1active.svg) no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.image-service-link2,
.image-service-link2:focus {
  background: url(../img/image-link2.svg) no-repeat;
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.image-service-link2:hover {
  background: url(../img/image-link2hover.svg) no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.image-service-link2:active {
  background: url(../img/image-link2active.svg) no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.image-service-link3,
.image-service-link3:focus {
  background: url(../img/image-link3.svg) no-repeat;
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.image-service-link3:hover {
  background: url(../img/image-link3hover.svg) no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.image-service-link3:active {
  background: url(../img/image-link3active.svg) no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.image-service-link4,
.image-service-link4:focus {
  background: url(../img/image-link4.svg) no-repeat;
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.image-service-link4:hover {
  background: url(../img/image-link4hover.svg) no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.image-service-link4:active {
  background: url(../img/image-link4active.svg) no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.card-services-description {
  margin: 1px 0 50px 45px;
  padding-right: 126px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

.card-benefits {
  margin: 30px 0 0 0;
}

.card-benefit-item {
  width: 275px;
  height: fit-content;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.card-benefit-item:not(:nth-child(-n+4)) {
  margin-top: 23px;
}

.card-benefit-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.back-image1 {
  background-image: url(../img/bathtub.svg);
}

.back-image2 {
  background-image: url(../img/hanger.svg);
}

.back-image3 {
  background-image: url(../img/heating.svg);
}

.back-image4 {
  background-image: url(../img/hotel-key.svg);
}

.back-image5 {
  background-image: url(../img/parking.svg);
}

.back-image6 {
  background-image: url(../img/reception.svg);
}

.back-image7 {
  background-image: url(../img/security-box.svg);
}

.back-image8 {
  background-image: url(../img/swimming-pool.svg);
}

.back-image-properties {
  background-size: 20%;
  background-position: 45px 35px;
  background-repeat: no-repeat;
}

.card-benefit-description {
  max-width: 188px;
  padding-top: 100px;
  padding-left: 45px;
  padding-bottom: 41px;
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.card-accommodation {
  margin: 30px 0 0 0;
}

.card-accommodation-content:not(:nth-child(-n+3)) {
  margin-top: 23px;
}

.card-accommodation-content:not(:nth-child(3n)) {
  margin-right: 23px;
}

.card-accommodation-content {
  position: relative;
  width: 374px;
  height: fit-content;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
}

.price,
.star {
  margin-top: 0;
}

.card-acc-price {
  display: block;
  width: fit-content;
  margin: 36px 0 0 45px;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.img-accomodation-1 {
  margin: 36px 0 0 44px;
  width: 14px;
  height: 14px;
}

.img-accomodation-2 {
  margin: 36px 0 0 6px;
  width: 14px;
  height: 14px;
}

.acc-name,
.acc-country {
  margin: 16px 0 0 45px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.acc-country {
  color: #999999;
}

.btn-acc {
  margin: 20px auto 37px 45px;
}

.last-card {
  background-image: url(../img/acc9.jpg);
  background-repeat: no-repeat;
  width: 374px;
  height: inherit;
}

.card-accommodation-more {
  display: block;
  min-width: fit-content;
  height: 40px;
  background-image: url("../img/acc-more.png");
  background-repeat: no-repeat;
  background-position: 45px;
  margin-top: 373px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  cursor: pointer;
  text-decoration: none;
}

a.card-accommodation-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-search {
  background-color: #E9E9E9;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-indent {
  padding-top: 38px;
  padding-bottom: 70px;
  border: 1px solid #000000;
  border-radius: 15px;
  overflow: hidden;
}

.tour-search {
  margin: 19px 45px 0 40px;
  padding: 31px 28px;
  background-color: #FFFFFF;
  border-radius: 15px;
  justify-content: space-around;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-border {
  border-left: 1px solid var(--main-color);
  padding-left: 20px;
}

.header-select {
  font-family: inherit;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.select-text {
  margin-top: 15px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.select-border-hidden {
  border: none;
}

.select-border {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--main-color);
}

.contacts-content {
  margin-top: 26px;
  padding-left: 45px;
  padding-top: 44px;
  padding-bottom: 45px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.contacts-text {
  max-width: 375px;
}

.contacts-element {
  padding-bottom: 17px;
  border-bottom: 1px solid #C4C4C4;
}

.contacts-element:nth-child(n+2) {
  margin-top: 19px;
}

.contact-name {
  min-width: 139px;
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}

.focusable {
  margin-top: 6px;
}

.contact-text-content {
  margin-bottom: 6px;
  margin-left: 6px;
  width: auto;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

.contact-phone {
  margin-bottom: 6px;
  margin-top: 6px;
  margin-left: 6px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
  border-width: 0px;
  border-color: transparent;
  transition: color 0.5s ease-in-out,
    border-color 1s ease-in-out,
    border-width 1s ease-in-out;
}

.contact-phone:focus {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 5px;
  width: fit-content;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
  outline: none;
  border: 1px solid var(--main-color);
  transition: border 1s ease-in-out;
}

.contact-phone:hover {
  margin-top: 6px;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
  outline: none;
  border-style: none;
  transition: border 1s ease-in-out;
}

.contact-phone:active {
  margin-top: 6px;
  margin-left: 6px;
  margin-bottom: 6px;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #A47312;
  text-decoration: none;
  border-width: 0px;
  border-color: transparent;
  transition: color 0.5s ease-in-out,
    border-color 1s ease-in-out,
    border-width 1s ease-in-out;
}

.email-text {
  margin: 0 0 0 5px;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.contacts-button {
  padding: 27px 27px;
  margin-top: 45px;
  font-weight: 700;
}

.contacts-img {
  margin-left: 50px;
  margin-right: 45px;
  width: fit-content;
  height: fit-content;
}

.footer {
  margin: 20px auto;
  padding: 44px 52px;
  background-color: #FFFFFF;
  border-radius: 15px;
  background-image: url(../img/logo-footer.png);
  background-repeat: no-repeat;
  background-position: 738px bottom;
  justify-content: space-between;
}

.footer-desc {
  max-width: 320px;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
}

.terms-of-use {
  display: block;
  margin-top: 49px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.terms-of-use:focus {
  display: block;
  margin-top: 49px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-color);
  text-decoration: none;
  outline: none;
}

.terms-of-use:hover {
  display: block;
  margin-top: 49px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
  transition: color 0.3s ease-in-out;
}

.terms-of-use:active {
  display: block;
  margin-top: 49px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #A47312;
  text-decoration: none;
  outline: none;
  transition: color 0.3s ease-in-out;
}

.footer-address {
  max-width: 360px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer-phone {
  margin: 14px 0 0 0;
}

.social {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}

.social:nth-child(n+2) {
  margin: 20px 0 0 0;
}

.social-link1 {
  background-image: url(../img/owl.svg);
  transition: background-image 0.5s ease-in-out;
}

.social-link1:focus,
.social-link1:hover {
  background-image: url(../img/owl-focus.svg);
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.social-link1:active {
  background-image: url(../img/owl-active.svg);
  transition: background-image 0.2s ease-in-out;
}

.social-link2 {
  background-image: url(../img/twitter.svg);
}

.social-link2:focus,
.social-link2:hover {
  background-image: url(../img/twitter-focus.svg);
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.social-link2:active {
  background-image: url(../img/twitter-active.svg);
  transition: background-image 0.2s ease-in-out;
}

.social-link3 {
  background-image: url(../img/facebook.svg);
}

.social-link3:focus,
.social-link3:hover {
  background-image: url(../img/facebook-focus.svg);
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.social-link3:active {
  background-image: url(../img/facebook-active.svg);
  transition: background-image 0.2s ease-in-out;
}

.social-link4 {
  background-image: url(../img/vk.svg);
}

.social-link4:focus,
.social-link4:hover {
  background-image: url(../img/vk-focus.svg);
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.social-link4:active {
  background-image: url(../img/vk-active.svg);
  transition: background-image 0.2s ease-in-out;
}

.social-link5 {
  background-image: url(../img/instagram.svg);
}

.social-link5:focus,
.social-link5:hover {
  background-image: url(../img/instagram-focus.svg);
  outline: none;
  transition: background-image 0.5s ease-in-out;
}

.social-link5:active {
  background-image: url(../img/instagram-active.svg);
  transition: background-image 0.2s ease-in-out;
}